<h1 style="font-size=20pt;color:orange">Minicurso Analisis de Datos usando Python

## Parte 2 - Python Básico

**Importante:** Ver esta rápida [guia de referencia](http://nbviewer.jupyter.org/github/justmarkham/python-reference/blob/master/reference.ipynb).

### Valor Nulo

In [4]:
a = None
if a is None:
    print('nulo')

nulo

### Boolean

In [210]:
a = True
b = False
c = True
print(a == b)
print(a == c)

False
True

In [211]:
a, b, c  = True, False, True
print(a == b)
print(a == c)

False
True

### Números

In [2]:
1 + 2

3

In [3]:
type(1)

int

In [4]:
type(1.2)

float

In [5]:
1 // 2

0

In [6]:
1 / 2

0.5

In [7]:
1 / 2.0

0.5

Potencia

In [9]:
2 ** 3

8

Raiz cuadrada usando potencias

In [10]:
2 ** 0.5

1.4142135623730951

In [33]:
import math
math.sqrt(2)

1.4142135623730951

In [22]:
# Rango de valores
rr=range(1,20)
[i for i in rr]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
# Rango de valores con incremento
rr=range(1,20,3)
[i for i in rr]

[1, 4, 7, 10, 13, 16, 19]

In [ ]:
import random
print(random.random())
print(random.randint(1,10))  
print(random.randrange(1,10))

### Strings

In [27]:
single_quoted_string = 'Data Science'
single_quoted_string

'Data Science'

In [54]:
print("A mi me gusta "+single_quoted_string)
print("A mi me gusta "+repr(single_quoted_string))

A mi me gusta Data Science
A mi me gusta 'Data Science'

In [28]:
len(single_quoted_string)

12

In [29]:
type(single_quoted_string)

str

In [30]:
single_quoted_string.upper()

'DATA SCIENCE'

In [31]:
single_quoted_string.lower()

'data science'

In [32]:
str1 = 'Hoy_va_a_llover_nuevamente.'.replace('_', ' ')
print(str1)

Hoy va a llover nuevamente.

In [33]:
double_quoted_string = "data science"
print(double_quoted_string)
print(repr(double_quoted_string))
double_quoted_string

data science
'data science'

'data science'

In [50]:
tab_string = "\t"        # representa el caracter 'tab'
print(tab_string)

In [49]:
# Imprimible
print(repr(tab_string))

'\t'

In [46]:
not_tab_string = r"\t"   # representa los caracteres '\' y 't'
print(not_tab_string)
print(repr(not_tab_string))

\t
'\\t'

In [55]:
skip_string = "\n"   # representa los caracteres 'salto de linea'
print(skip_string)
print(repr(skip_string))

'\n'

In [58]:
multi_line_string = """"linea 1.
linea 2
linea 3"""
print(multi_line_string)
print(repr(multi_line_string))

"linea 1.
linea 2
linea 3
'"linea 1.\nlinea 2\nlinea 3'

In [59]:
'bla ' * 5

'bla bla bla bla bla '

In [35]:
"%d/%d/%d" % (2, 4, 6)

'2/4/6'

In [14]:
"%s/%s/%s" % (2, 4, 6)

'2/4/6'

In [15]:
"{}/{}/{}".format(2, 4, 6)

'2/4/6'

In [36]:
"{:2d}/{:2d}/{:2d}".format(2, 4, 16)

' 2/ 4/16'

In [37]:
"{:02d}/{:02d}/{:02d}".format(2, 4, 16)

'02/04/16'

In [38]:
'{:.2f}'.format(99.8765)

'99.88'

In [39]:
'{:.0f}'.format(99.8765)

'100'

In [40]:
'%05d' % (99)

'00099'

In [41]:
'{:05d}'.format(99)

'00099'

In [42]:
' Hello '.strip()

'Hello'

In [43]:
' Hello '.lstrip()

'Hello '

In [44]:
' Hello '.rstrip()

' Hello'

### Data

In [62]:
from datetime import datetime
import time

inicio = datetime.now()
print(inicio)
for i in range(2):
    time.sleep(1)
fim = datetime.now()
print(fim)
print("Tempo de ejecucion: {}".format(fim - inicio))

2021-07-09 16:26:54.851825
2021-07-09 16:26:56.860970
Tempo de ejecucion: 0:00:02.009145

### Listas
- Mutables

In [134]:
lista = [1, 2, 3, 4, 5]
print(lista)
len(lista)

[1, 2, 3, 4, 5]

5

In [80]:
lista[2]

3

In [81]:
lista[-1] # último elemento

5

In [82]:
lista[1:3]

[2, 3]

In [104]:
a, b = lista[1:3]
a, b

(2, 3)

In [83]:
lista[:3] # 3 primeiros elementos

[1, 2, 3]

In [84]:
lista[-2:] # 2 últimos elementos

[4, 5]

In [85]:
lista[1:-1] # do segundo ao penúltimo elemento

[2, 3, 4]

In [86]:
len(lista)

5

In [87]:
sum(lista)

15

In [97]:
10 in lista

False

In [98]:
5 in lista

True

In [153]:
lista.append(7)
lista.append(6)
lista.append(7)
lista

[1, 2, 3, 4, 5, 7, 6, 7]

In [154]:
lista.remove(7)  # remove o primeiro elemento cujo valor é 7
lista

[1, 2, 3, 4, 5, 6, 7]

In [155]:
lista.extend([8, 9, -10])
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, -10]

In [156]:
lista2 = lista  # lista2 referencia lista
lista2[-1] = 10
print(lista)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [157]:
lista3 = lista[:]  # lista3 é uma nova lista com o mesmo conteúdo de lista
lista3[-1] = -10
print(lista)
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, -10]

In [51]:
range(5)

[0, 1, 2, 3, 4]

In [58]:
range(2, 10, 2)

[2, 4, 6, 8]

In [59]:
range(5, 0, -1)

[5, 4, 3, 2, 1]

In [111]:
lista4 = [-4, 1, -2, 3]
print(sorted(lista4)) # ordena sem alterar a lista
print(sorted(lista4, reverse=True))
print(sorted(lista4, key=abs))
print(lista4)

[-4, -2, 1, 3]
[3, 1, -2, -4]
[1, -2, 3, -4]
[-4, 1, -2, 3]

In [132]:
lista4.sort() # altera a lista original
print(lista4)

[-4, -2, 1, 3]

In [64]:
a = ['la', 'casa', 'está', 'muy', 'bien', 'organizada']
print(' '.join(a))

la casa está muy bien organizada

In [69]:
import random
random.shuffle(a)
print(a)
random.shuffle(a)
print(a)

['bien', 'está', 'la', 'casa', 'organizada', 'muy']
['casa', 'muy', 'organizada', 'la', 'bien', 'está']

In [75]:
random.choice(a) # un unico valor selecto con repeticion

'muy'

In [76]:
random.choices(a,k=8) # varios valores selectos con repeticion

['la',
 'está',
 'casa',
 'organizada',
 'organizada',
 'organizada',
 'bien',
 'casa']

In [67]:
# Loteria
numeros = range(1, 100)
random.sample(numeros, 5) # sin repeticion

[30, 67, 86, 36, 31]

Comprensions de listas

In [78]:
cuadrados = [x * x for x in range(5)]
print(cuadrados)

[0, 1, 4, 9, 16]

In [81]:
# contar cuantos elementos de la lista son mayores que 4
sum([1 for x in cuadrados if x > 4])

[1, 1]

### Matrices

In [132]:
matriz = [ [1, 2, 3],
           [4, 5, 6],
           [7, 8, 9] ]
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Tuplas
- Inmutables

In [133]:
tupla = (1, 2, 3, 4)
print(tupla)

(1, 2, 3, 4)

### Diccionarios

In [91]:
diccionario = { 'nombre': 'Regis', 'sobrenombre': 'Platillos Magañanes' }
print(diccionario['nombre'])
print(diccionario['sobrenombre'])

Regis
Platillos Magañanes

In [92]:
diccionario.keys()

dict_keys(['nombre', 'sobrenombre'])

In [93]:
dicionario.values()

dict_values(['Regis', 'Platillos Magañanes'])

#### Unido de diccionarios

In [94]:
x = {'a':1, 'b': 2}
y = {'b':10, 'c': 11}
x.update(y)
print(x)

{'a': 1, 'b': 10, 'c': 11}

### Empaquetar y desempaquetar

In [98]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = zip(list1, list2)   # PACK
list(list3)

[('a', 1), ('b', 2), ('c', 3)]

### Conjuntos (Sets)

Coleccion de elementos distintos.

In [127]:
s = set([1, 2])
print(type(s))
print(s)
s.add(3)
s.add(3)
s.add(4)
print(s)
print(len(s))
print(2 in s) 
print(3 in s)

<class 'set'>
{1, 2}
{1, 2, 3, 4}
4
True
True

### Python no tiene &&, ++:

In [128]:
a,b,c = (True,True,False)
print(a and b)
print(a and c)
print(a or b)

True
False
True

In [129]:
i=1
i+=1  # Igual que i=i+1
print(i)

2

### Liberando espacio asignado para variables

In [130]:
a = [2, 4, 6, 8, 10]
print(a)
del(a)
print(a)

[2, 4, 6, 8, 10]

NameError: name 'a' is not defined

### Condicionales

In [131]:
valor = 99
if valor == 99:
    print('veloz') 
elif value > 200:
    print('muy veloz') 
else:
    print ('lento')

veloz

#### Operador ternário (arg1,arg2,arg3)

In [113]:
x = 5
par_o_impar = "par" if x % 2 == 0 else "impar"
print(par_o_impar)

impar

### Loops

In [114]:
a = [1, 3, 4, 5, 7]
for i in a:
    print(i)

1
3
4
5
7

In [115]:
a = [1, 3, 4, 5, 7]
for indice, valor in enumerate(a):
    print(indice, valor)

0 1
1 3
2 4
3 5
4 7

In [116]:
for _ in range(5):
    print('oi')

oi
oi
oi
oi
oi

In [118]:
a = [2, 4, 6]
for i in range(len(a)):
    print('indice:{}, valor:{}'.format(i, a[i]))

indice:0, valor:2
indice:1, valor:4
indice:2, valor:6

In [119]:
a = [2, 4, 6]
for indice, valor in enumerate(a):
    print('indice:{}, valor:{}'.format(indice, valor))

indice:0, valor:2
indice:1, valor:4
indice:2, valor:6

In [121]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [123]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print(x)

0
1
2
4

In [9]:
import itertools
a = [1, 2, 3]
b = [4, 5]
c = [6, 7, 8]
for a_, b_, c_ in itertools.product(a, b, c):
    print('a:{}, b:{}, c:{}'.format(a_, b_, c_))

a:1, b:4, c:6
a:1, b:4, c:7
a:1, b:4, c:8
a:1, b:5, c:6
a:1, b:5, c:7
a:1, b:5, c:8
a:2, b:4, c:6
a:2, b:4, c:7
a:2, b:4, c:8
a:2, b:5, c:6
a:2, b:5, c:7
a:2, b:5, c:8
a:3, b:4, c:6
a:3, b:4, c:7
a:3, b:4, c:8
a:3, b:5, c:6
a:3, b:5, c:7
a:3, b:5, c:8

### Funciones

In [126]:
def suma(a, b):
    return a + b

print(suma(3, 5))
print(suma('casa ', 'organizada'))

8
casa organizada

### Bibliotecas Python para Manipulacion de Datos

#### SciPy Stack
 - **Python**
 - **NumPy** - Cálculo numérico. Manejo eficiente de matrices n-dimensionales.
 - **SciPy Library** - Rutinas numéricas.
 - **Matplotlib** - Visualización de datos. Creación de gráficos 2D / 3D.
 - **IPython** - Python interactivo
 - **tornado** - Entorno web
 - **pandas**: Herramientas y estructuras de datos para facilitar la organización y el análisis de datos.
 - **Sympy** - Matemáticas simbólicas
 - **nose** - Biblioteca para realizar pruebas unitarias.

### Bibliotecas complementarias

#### Visualizacion de Datos

##### seaborn - Camada sobre Matplotlib.

##### [bokeh](http://bokeh.pydata.org/) - Gráficos interativos y dinamicos usando D3.js.

#### Aprendizaje de Máquina

##### [scikit-learn](http://scikit-learn.org/) - herramentas simples y eficientes para mineria y análisis de datos. 
- Cuenta con algoritmos de aprendizaje automático para clasificación, regresión, agrupamiento, etc.
- Proporciona herramientas para la evaluación de modelos, ajuste de parámetros y preprocesamiento de datos.

#### Estadística

##### statsmodel - extensa lista de funciones para estadística descriptiva, pruebas estadísticas y creacion de gráficos

#### Extração de Dados de Páginas Web

*Data scraping* (raspado de datos) es una técnica computacional en la que un programa extrae datos de salida legibles por humanos de un servicio o aplicación.

Los datos extraídos generalmente se extraen y se estructuran en un formato estándar como CSV, XML o JSON. 

##### [requests](https://pythonhelp.wordpress.com/2013/03/12/acessando-recursos-na-web-com-python/)

##### [beautifulsoap](https://pythonhelp.wordpress.com/2013/03/18/webscraping-em-python/)

##### [scrapy](https://pythonhelp.wordpress.com/2014/08/05/web-scraping-com-scrapy-primeiros-passos/)

#### Bancos de Datos

**[SQLAlchemy](http://www.sqlalchemy.org/)** - SQL e ORM (Object Relational Mapping)